h1 {
  color:red;
  font-size: 30px;
  text-align: center;
  text-decoration: underline;
}
p{
  color: blue;
  font-family: cursive;
  font-size: 20px;
  border: 1px solid powederblue;
  padding: 30px;
}
body{
  background-color: green;
}
img{
  float: right;
}
h2{
  colour:red;
  padding: 20px;
  text-align: center;
}
img{
  background-image: url("https://www.google.com/search?q=best+houses+in+kenya&tbm=isch&source=iu&ictx=1&fir=8vgs2jH6Fxr5wM%253A%252CENDr7y5imUVNGM%252C_&usg=AI4_-kS6dBXY3ZlB60KS8a_mt8tuOzjDaw&sa=X&ved=2ahUKEwjPmPTl6uzeAhVOYxoKHcLZBGsQ9QEwDHoECAIQBg#imgrc=8vgs2jH6Fxr5wM:");
}
